footer
  background-color: $bronze

  .footer-container
    display: grid
    grid-template-columns: repeat(4, 1fr)
    max-width: 1200px
    margin: 0 auto
    text-align: center
    padding-bottom: 2em
    color: $white

    a
      color: $white
      transition: color .3s ease

      &:hover
        color: $default-text-color

    .footer-title
      width: 100%
      padding: 1em
      color: $default-text-color

    .hours
      grid-column: 2/4

      .opening-hours-days
        display: inline-grid

      .opening-hours-times
        display: inline-grid
        margin-left: 2em
        word-spacing: 1em
