#gallery
  margin-top: $navbar-height
  column-count: 4
  column-gap: 20px

  .card
    width: 100%
    height: auto
    margin: 4% auto
    box-shadow: -3px 5px 15px #000
    cursor: pointer

.modal-dialog
  margin-top: $navbar-height

.modal-body
  padding: 0

  .modal-img
    width: 100%
    height: auto
