.title
  text-align: center
  margin-top: $navbar-height
  h1
    color: $bronze

.content-container
  max-width: 1200px
  margin: 0 auto
  padding: 0 1em

  @include tablet
    padding: 0

  .price-table
    display: flex
    font-size: 2rem
    margin: $navbar-height 0

    .price-table-info
      display: flex
      flex-direction: column
      width: 50%
      margin: 0 auto

      span
        width: 100%
p
  margin-bottom: 20px
