// Base Rules
*
  margin: 0
  padding: 0

*, *:before, *:after
  box-sizing: border-box
  
html
  height: 100%

body
  display: flex
  flex-direction: column
  height: 100vh
  overflow-x: hidden

.wrapper
  flex: 1 0 auto

.content-container
  max-width: 1200px
  margin: 0 auto
